

#logout {

    color: rgb(250, 250, 250);
    text-decoration: none !important;
}
/* unvisited link */
#logout a:link {
    color: rgb(246, 246, 246);
  }
  
  /* visited link */
  #logout a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  #logout #logout a:hover {
    color: rgb(251, 251, 251);
  }
  
  /* selected link */
  #logout a:active {
    color: rgb(0, 0, 0);
  } 
  